<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @tournament.format %>
</p>
<p>
  <strong>Id:</strong>
  <%= @tournament.id %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
