<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @tournament.format %>
</p>
<p>
  <strong>Id:</strong>
  <%= @tournament.id %>
</p>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
  <% @tournament.entrants.each do |entrant| %>
  <tr>
    <td>Player<%= entrant.id %></td>
    <td><%= entrant.name %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
