<p id="notice"><%= notice %></p>

<h1>Listing Entrants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tournament</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entrants.each do |entrant| %>
      <tr>
        <td><%= entrant.name %></td>
        <td><%= entrant.tournament.id %></td>
        <td><%= link_to 'Show', entrant %></td>
        <td><%= link_to 'Edit', edit_entrant_path(entrant) %></td>
        <td><%= link_to 'Destroy', entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrant', new_entrant_path %>
